.page{
    padding-top:41.66px;
}

.titleCom{
    width:100%;
    height:31.23px;
    background:#eaeaea;
    line-height:31.23px;
    text-align:center
    
}
.pcsBox{
    display:flex;
    flex-wrap:wrap;
}